<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Macbooks</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/macBook.css">
    <link rel="stylesheet" href="home_page.html">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar-left">
                <i class="fa-brands fa-apple"></i>
                <span>AppleZone</span>
            </div>

            <ul class="navbar-links">
                <li><a href="home_page.html">Home</a></li>
                <li><a href="#boutique">Boutique</a></li>
                <li><a href="#promotion">Promotions</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <div class="navbar-right">
                <p>Votre panier</p>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </nav>
    </header>

    <h1>Découvrez nos MacBooks</h1>


    <div class="flex">
        <aside class="filtrage">
            <h3>Filtrage des produits</h3>
            <div>
                <h3>Modèle</h3>
                <label><input type="checkbox" name="modele" value="air"> MacBook Air</label><br>
                <label><input type="checkbox" name="modele" value="pro"> MacBook Pro</label><br>
            </div>

            <div>
                <h3>Stockage</h3>
                <label><input type="checkbox" name="stockage" value="512"> 512Go</label><br>
                <label><input type="checkbox" name="stockage" value="512"> 256Go</label><br>
            </div>


            <div>
                <h3>Etat</h3>
                <label><input type="checkbox" name="etat" value="neuf"> Neuf</label><br>
                <label><input type="checkbox" name="etat" value="bonne"> Bonne</label><br>
                <label><input type="checkbox" name="etat" value="boite"> sous emballage</label><br>
            </div>

            <div>
                <h3>Prix</h3>
                <label><input type="range" name="prix" min="200" max="1500"></label>
            </div>
        </aside>

        <section>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/Apple_M3_MacBook_Air-removebg-preview.png" alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple MacBook Air M3</strong> - Fin 2024 - 13.6" M3 8 Go RAM 256 Go SSD – Apple /
                            Ordinateur portable Apple</p>
                        <p class="etat">Excellente état</p>
                        <p><strong>Prix :</strong> 136 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/macBook_pro_m4-removebg-preview.png" alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple MacBook Pro M4</strong> Début 2025 - 14.2" M4 18 Go RAM 512 Go SSD – Apple /
                            Ordinateur portable Apple</p>
                        <p class="etat">Neuf sous emballage</p>
                        <p><strong>Prix : </strong>293 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/macbook2018_air .png" alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple MacBook Air - 2018</strong> - 13" Intel Core i5 8e Gen 8 Go RAM 128 Go SSD –
                            Apple / Ordinateur portable Apple</p>
                        <p class="etat">Bonne état</p>
                        <p><strong>Prix :</strong> 85 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/2022_Apple_MacBook_Air_13_6__Liquid_Retina_Display__M2_Processor__8GB_RAM__512GB_SSD__Space_Grey-removebg-preview.png"
                        alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple MacBook Air M2</strong> - 2022 - 13.6" M2 8 Go RAM 256 Go SSD – Apple /
                            Ordinateur portable Apple</p>
                        <p class="etat">Très Bonne état</p>
                        <p><strong>Prix :</strong> 320 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/macBook_pro_m3-removebg-preview.png" alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <strong>Apple MacBook Pro M3</strong> - Fin 2023 - 14.2" M3 8 Go RAM 512 Go SSD – Apple /
                        Ordinateur portable Apple
                        <p class="etat">Excellente état</p>
                        <p><strong>Prix :</strong> 530 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/Apple_MacBook_Pro_M3_Pro_12-Core_CPU_18-Core_GPU_18GB_RAM_1TB_SSD_14__MacOS_Sonoma_Laptop_-_Silver-removebg-preview.png"
                        alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <strong>Apple MacBook Pro M3 Max</strong> - Fin 2023 - 16.2" M3 Max 36 Go RAM 1 To SSD – Apple /
                        Ordinateur portable Apple
                        <p class="etat">Excellente état</p>
                        <p><strong>Prix :</strong> 660 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/macbook_air_2020_m1-removebg-preview.png" alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <strong>Apple MacBook Air</strong> - Début 2020 - 13" Intel Core i3 8 Go RAM 256 Go SSD – Apple
                        / Ordinateur portable Apple
                        <p class="etat">Excellente état</p>
                        <p><strong>Prix :</strong> 164 000 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

            <div class="product">
                <div class="product-pic">
                    <img src="../static/css/pictures/Apple_MacBook_Pro_13__2022__review__new_chip__old_threads-removebg-preview.png"
                        alt="">
                </div>
                <div class="description">
                    <figcaption>
                        <p><strong>Apple MacBook Pro - 2019</strong> - 13" Intel Core i5 8e Gen 8 Go RAM 256 Go SSD –
                            Apple / Ordinateur portable Apple</p>
                        <p class="etat">Excellente état</p>
                        <p><strong>Prix :</strong> 14 550 Da</p>
                    </figcaption>
                    <div class="command-link">
                        <a class="link" href="">Ajouter au panier &nbsp;&nbsp; <i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                </div>
            </div>

        </section>


    </div>


</body>

</html>