<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SIGN UP</title>


    <!----------------------------------------------- Imports ---------------------------------------------->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">


</head>

<body>

    <fieldset>
        <form action="/signup" method="post">
            <h1>SIGN UP</h1>

            <div class="div1">
                <p>Nom</p>
                <div class="input">
                    <input type="text" name="nom" placeholder=" Nom" required>
                    <i class="fa-solid fa-circle-user"></i>
                </div>
            </div>

            <div class="div1">
                <p>Prénom</p>
                <div class="input">
                    <input type="text" name="prenom" placeholder=" Prénom" required>
                    <i class="fa-solid fa-circle-user"></i>
                </div>
            </div>

            <div class="div1">
                <p>E-mail</p>
                <div class="input">
                    <input type="email" name="email" placeholder=" e-mail" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>

            <div class="div1">
                <p>Téléphone</p>
                <div class="input">
                    <input type="tel" name="telephone" placeholder="+213 x xx xx xx">
                    <i class="fa-solid fa-phone-volume"></i>
                </div>
            </div>

            <div class="div1">
                <p>Mot de passe</p>
                <div class="input">
                    <input type="password" name="password" placeholder=" password" minlength="8" required>
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>

            <div class="div1">
                <p>Confirmer Mot de passe</p>
                <div class="input">
                    <input type="password" name="confirm_password" placeholder=" confirm password" required>
                    <i class="fa-solid fa-eye-slash"></i>
                </div>
            </div>

            <div class="link-btn">
                <p>Vous avez déjà un compte ? <a href="login.html" target="_blank">Connectez-vous</a></p>
                <button type="submit">Créer un compte</button>
            </div>
        </form>
    </fieldset>


</body>

</html>