nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: black;
}

.logo a {
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 1px;
}

.logo a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

.logo a:hover::after {
    width: 100%;
}

.search {
    border: 1px solid black;
    border-radius: 30px;
    height: 40px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 201, 201);
}

.search i {
    cursor: pointer;
}

.search input {
    border: none;
    background-color: rgb(214, 201, 201);
}

.search input:focus {
    outline: none;
}

.grid-iphones {
    display: grid;
    grid-template-columns: repeat(3, 9fr);
}

.product {
    height: 350px;
    width: 450px;
}

img {
    width: 200px;
    height: 200px;
}