body {
    background-image: url('pictures/apple-logo-apple-7680x4320-13006.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
}

.logo a {
    color: white;
    text-decoration: none;
}